@model List<SliderViewModel>

@foreach (var item in Model)
{
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container my-5 py-5">
            <div class="row align-items-center g-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-3 text-white animated slideInLeft">@item.Title</h1>
                    <p class="text-white animated slideInLeft mb-4 pb-2">@item.Description</p>
                    <a href="@item.ButtonLink" class="btn btn-primary py-2 px-4">@item.ButtonText</a>
                </div>
                <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                    @if (item.ImageURL == null)
                    {
                        <img class="img-fluid" src="~/assets-frontend/img/hero.png" alt="@item.Title">
                    }
                    else
                    {
                        <img class="img-fluid" src="~/upload_img/@item.ImageURL" alt="@item.Title">
                    }
                </div>
            </div>
        </div>
    </div>
}